<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat Rooms</title>
</head>
<body>
    <h1><%= username %>'s Chat Rooms</h1>
    <div id="rooms-container">
        <% rooms.forEach(function(room) { %>
            <div class="room">
                <a href="/rooms/<%= room.room_id %>">
                    Room <%= room.room_id %>: <%= room.room_name %>
                </a>
                <p>Last Message Date: <%= room.last_message_date.toLocaleString() %>, Unread Messages: <%= room.unread_message_count %></p>
            </div>
        <% }); %>
    </div>
    <form action="/create-group" method="get">
      <button type="submit">Invite People & Create a Group</button>
    </form>
</body>
</html>
