<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat Room <%= roomId %></title>
  </head>
  <body>
    <h1>Chat Room <%= roomId %>: <%= roomName %></h1>
    <p>You are logged in as: <%= userName %></p>
    <a href="/myRooms">Back to My Rooms</a>

    <% messages.forEach(function(message) { %>
    <div class="message">
      <p>
        <strong><%= message.username %></strong>: <%= message.message_content %>
      </p>
      <p style="color: lightskyblue">
        <%= message.sent_datetime.toLocaleString() %>
      </p>
    </div>
    <% }); %>
    <!-- Message submission form -->
    <form action="/rooms/<%= roomId %>/message" method="post">
      <textarea
        name="message"
        required
        placeholder="Type your message here..."
      ></textarea>
      <button type="submit">Send Message</button>
    </form>
  </body>
</html>
